@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#writeup, #main, #grid {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
