#menu {
  list-style: none;             /* Remove dots */
  margin: 0;                    /* No margin */
  padding: 0;                   /* No padding */
  overflow: hidden;             /* content is clipped */
}

/* Attributes for name id in menu */
#menu #name {
  font-weight: bold;            /* bold */
  float: left;                  /* Left align in menu */
}

/* Added menu items */
#menu li {
  height: 64px;                 /* set height */
}

/* Attributes for all items that is not name id */
#menu li:not(#name) {
  float: right;                 /* right align */
}

/* check if device is mobile */
@media only screen and (max-width: 1250px) {
  /* [On hold] make menu look different */
  #menu li {
    float: none;
  }
}

#menu li a {
  display: block;               /* set width to fill parent container */
  padding: 20px;                /* Add padding */
  box-sizing: border-box;       /* Prevent padding from increase the width or height */
  height: 64px;                 /* set a fixed height */
  text-decoration: none;        /* remove underline */
  cursor: pointer;              /* default text */
}

/* if list item is active */
#menu li #active {
  font-weight: bold;            /* bold text */
}

/* else if list item is not active */
#menu li a:not(#active) {
  opacity: 0.25;              /* decrease opacity */
  transition: all 0.5s;       /* has animation of duration 0.5s */
}

/* when list item is hovere */
#menu li a:hover:not(#active) {
  transform: scale(0.9, 0.9); /* decrease scale */
  opacity: 1;                 /* increase opacity */
}
