* {
  font-family: Avenir Next;
  font-size: 104%;
}

#title {
  font-weight: bolder;
  font-size: 200%;
}

#subtitle {
  font-weight: bold;
}

#detail {
  color: red;
}

table {
    padding: 5%;
}

td, th {
    text-align: left;
    vertical-align: text-top;
    padding: 5%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: red;
}
